{% block content %}
<h1>Player List</h1>
{% if players %}
<ul>
    {% for player in players %}
        <li>{{ player.name }} - {{ player.value }} euros / Team : {{ player.player_team}}</li>
        <a href="{% url 'gestion:propose_trading' player_id=player.id %}">Proposer Transfert</a>
    {% endfor %}
</ul>
{% else %}
<p>Aucun joueur n'est disponible pour le moment.</p>
{% endif %}
Team existing :
<ul>
    {% for team in teams %}
        <li>{{ team.name }}</li>
  
    {% endfor %}
</ul>

{% endblock %}
