

{% extends 'base.html' %}

{% block content %}
 
    <h1>Bienvenue {{request.user}}</h1>
    {% if message %}
        <div id="message" class="alert alert-info">{{ message }}</div>
    {% endif %}
    <div class="game-menu">
        <h1>Menu</h1>
        <a href="{% url 'gestion:player_list' %}" class="game-menu-item">Jeu 1</a>
        <a href="{% url 'gestion:player_list' %}" class="game-menu-item">Jeu 2</a>
        <a href="{% url 'gestion:player_list' %}" class="game-menu-item">Jeu 3</a>
        <a href="{% url 'gestion:player_list' %}" class="game-menu-item">Jeu 4</a>
        <a href="{% url 'gestion:player_list' %}" class="game-menu-item">Jeu 5</a>
        <a href="{% url 'gestion:player_list' %}" class="game-menu-item">Jeu 6</a>
    </div>

{% endblock %}

{% block javascript %}
    <script>
        // Masquer la notification après 5 secondes
        setTimeout(function() {
            document.getElementById('message').style.display = 'none';
        }, 5000);
    </script>
{% endblock %}


