{% extends 'base.html' %}

{% block content %}
<style>
    table {
        border-collapse: separate;
        border-spacing: 10px;
    }
    th, td {
        padding: 10px;
        
    }
    .status-pending {
        color: green;
    }
    .status-closed {
        color: red;
    }
</style>

<h2>Your Trading List:</h2>
<p>Sort by:
    <a href="{% url 'gestion:trading_list' %}?sort_by=status{% if status_accepted %}&status_accepted=1{% endif %}{% if status_rejected %}&status_rejected=1{% endif %}{% if status_pending %}&status_pending=1{% endif %}{% if status_closed %}&status_closed=1{% endif %}{% if status_proposed %}&status_proposed=1{% endif %}">Status</a> |
    <a href="{% url 'gestion:trading_list' %}?sort_by=price{% if status_accepted %}&status_accepted=1{% endif %}{% if status_rejected %}&status_rejected=1{% endif %}{% if status_pending %}&status_pending=1{% endif %}{% if status_closed %}&status_closed=1{% endif %}{% if status_proposed %}&status_proposed=1{% endif %}">Price</a>
</p>


<form method="get">
    <label for="status_filter">Filter by Status:</label>
    <input type="checkbox" id="status_accepted" name="status_accepted" {% if status_accepted %}checked{% endif %}>
    <label for="status_accepted">Accepted</label>
    <input type="checkbox" id="status_rejected" name="status_rejected" {% if status_rejected %}checked{% endif %}>
    <label for="status_rejected">Rejected</label>
    <input type="checkbox" id="status_pending" name="status_pending" {% if status_pending %}checked{% endif %}>
    <label for="status_pending">Pending</label>
    <input type="checkbox" id="status_closed" name="status_closed" {% if status_closed %}checked{% endif %}>
    <label for="status_closed">Closed</label>
    <input type="checkbox" id="status_proposed" name="status_proposed" {% if status_proposed %}checked{% endif %}>
    <label for="status_proposed">Proposed</label>
    <button type="submit">Apply Filters</button>
</form>
<table>
    <tr>
        <th>Trading ID</th>
        <th>Buyer</th>
        <th>Seller</th>
        <th>Player</th>
        <th>Proposed Value</th>
        <th>Status</th>
        <th>Action</th>
    </tr>
    <tr>
        <td colspan="7"><h2>Buy Trading :</h2></td>
    </tr>
    
    {% for trading in buyer_tradings %}
  
        <tr>
            <td>{{ trading.id }}</td>
            <td>{{ trading.buyer.username }}</td>
            <td>{{ trading.player.player_team.owner }}</td>
            <td>{{ trading.player.name }}</td>
            <td>${{ trading.proposed_value }} euros</td>
            <td class="{% if trading.status_trading == 'pending' %}status-pending{% elif trading.status_trading == 'rejected' %}status-closed{% endif %}">
                {{ trading.status_trading }}
            </td>
            <td>
                {% if trading.status_trading != 'rejected' %}
                    <a href="{% url 'gestion:manage_trading' trading_id=trading.id %}">Manage trading</a>
                {% endif %}
            </td>
        </tr>
   
    {% endfor %}
    
    <tr>
        <td colspan="7"><h2>Sell Trading :</h2></td>
    </tr>
    {% for trading in seller_tradings %}
        <tr>
            <td>{{ trading.id }}</td>
            <td>{{ trading.buyer.username }}</td>
            <td>{{ trading.seller.username }}</td>
            <td>{{ trading.player.name }}</td>
            <td>${{ trading.proposed_value }} euros</td>
            <td class="{% if trading.status_trading == 'pending' %}status-pending{% elif trading.status_trading == 'rejected' %}status-closed{% endif %}">
                {{ trading.status_trading }}
            </td>
            <td>
                {% if trading.status_trading != 'rejected' %}
                    <a href="{% url 'gestion:manage_trading' trading_id=trading.id %}">Manage trading</a>
                {% endif %}
            </td>
        </tr>
    {% endfor %}
</table>
{% endblock %}
