{% load static %}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style_base.css' %}">
    

    
</head>
<body>
    <header>

            
        </a>
        <h1><a href="{% url 'gestion:home' %}" class="home-link">Acceuil</a></h1>
        <nav>
            <ul>
                <li> <img class="logo" src="{% static 'image/6.png' %}"></li>  
                <li><a href="{% url 'gestion:profil' %}">Profil</a></li>
                <li><a href="{% url 'gestion:messagerie' %}">Messagerie {{ unread_messages_count }}</a></li>

                <li><a href="{% url 'gestion:player_list' %}">Player List</a></li>
                <li><a href="{% url 'gestion:team_list' %}">Team List</a></li>
                <li><a href="{% url 'gestion:trading_list' %}">Trading List</a></li>
                <li><a href="{% url 'gestion:create_player' %}">Create Player</a></li>
                <li><a href="{% url 'gestion:create_team' %}">Create Team</a></li>
                {% if request.user %}
                {% if request.user.is_authenticated %}
                <li><a href="{% url 'authentification:user_logout' %}">Logout ( {{ request.user }} )</a></li>
            {% else %}
                <li><a href="{% url 'authentification:user_login' %}">Login ( {{ request.user }} )</a></li>
            {% endif %}
            {% endif %}
            </ul>
        </nav>
    </header>
    <div class="content">
        {% block content %}
        {% endblock %}
        {% block javascript %}
        {% endblock %}
    </div>


</body>
</html>
