<!DOCTYPE html>
<html>
<head>
    <title>Accueil</title>
</head>
<body>
    <h2>Accueil</h2>
    
    {% if request.user.is_authenticated %}
    <p>Bonjour, {{ request.user.username }}! Vous êtes connecté.</p>
    <a href="{% url 'authentification:user_logout' %}">Déconnexion</a>
    {% else %}
    <p>Bienvenue sur notre site. Veuillez vous connecter.</p>
    <a href="{% url 'authentification:user_login' %}">Connexion</a>
    {% endif %}
    <h2>Liste des Utilisateurs</h2>
    <ul>
        {% for user in users %}
            <li>{{ user.username }}__________ {{ user.password }}</li>
        {% endfor %}
        <p>Votre IP de conenxion est : {{user_ip}}</p>
    </ul>
</body>
</html>